.icon{
display: inline-block;
width: 40px;
height: 40px;
background-size: cover;
}

.icon-next{
    background-image: url(../resources/next.svg);
}

.icon-back{
    background-image: url(../resources/back.svg);
}