.canvas {
    background-color: #34495e;
    border-radius: 10px;
}

.canvasContainer {
    background-color: #9fafc0;
    border-radius: 10px;
}

.center{
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(../resources/target.svg);
}

.detach{
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(../resources/detach.svg);
}

.save{
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(../resources/save.svg);
}

.play{
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(../resources/play.svg);
}

.stop{
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    background-size: cover;
    transition: 0.3s;
    background-image: url(../resources/stop.svg);
}